{
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 4,
    "singleQuote": false,
    "semi": true,
    "arrowParens": "avoid",
    "jsxBracketSameLine": false,
    "TrailingCooma": "all"
}
